numpy
pandas
scipy
scikit-learn
statsmodels
matplotlib
seaborn
pyarrow
tqdm

opencv-python
Pillow
albumentations
timm

--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision

jupyterlab
ipykernel
ipywidgets
